<div class="row">
  <div class="col-sm-12">
      <h2 class="title-headings pull-left" style="">Create Fee Status</h2>
  </div>
</div>
<div class="form-horizontal">
<%= form_for(@fee_status) do |f| %>
  <% if @fee_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee_status.errors.count, "error") %> prohibited this fee_status from being saved:</h2>

      <ul>
      <% @fee_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row student-form-container" >
    <div class="form-group">
        <label class="col-sm-3 control-label">Amount</label>
        <div class="col-sm-9">
          <%= f.text_field :amount_paid , :class => "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Date of payment</label>
        <div class="col-sm-9">
          <%= f.text_field :paid_date , :class => "form-control"%>
        </div>
      </div>
   <%= f.hidden_field :student_id, :value => params[:student_id] %>
 
   <%= f.submit :class =>"btn btn-primary pull-right" %>

</div>
<% end %>
</div>
