<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Monthly fee:</strong>
  <%= @course.monthly_fee %>
</p>

<p>
  <strong>Total fee:</strong>
  <%= @course.total_fee %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course.student_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
